
.content__pagina{
    background: rgb(17, 17, 17);
    padding: 0.1px 10px;    
}
.text__nosotros{
    background: transparent;
    
    padding: 20px;
}

.nosotros{
    margin-top: 10rem;
    animation: mostrar 2s  ;
    -webkit-animation: mostrar 2s  ;

}

.title{
    text-align: center;
    color: white;
    margin-bottom: 2rem;
    font-size: 35px;
}

.img__nosotros img{
    width: 100%;
    margin-bottom: 30px;
}

.nosotros p{
    text-align: justify;
    color: white;
}