<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <script src="https://kit.fontawesome.com/c5ed81fca0.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="pagina">
            <div class="contenido ingresar">
                <a class="ico__volver" href="../index.html">
                    <i class="fas fa-arrow-left"></i>Volver
                </a>
                <div class="ico">
                    <i class="fas fa-hotel ico__hotel" ></i>
                </div>
                <h1>Dulce<span>Hogar</span></h1>
                <form class="formulario" action="">
                    <input type="text" placeholder="Ingresar ID">
                    <input type="text" placeholder="Ingresar Contraseña">
                    <input type="text" placeholder="Ingresar Codigo de confirmacion">
                    <button ">Ingresar</button>
                    <p class="ir__registrar">Crear Cuenta</p>
                </form>
            </div>

            <div class="contenido registrar">
                <a class="ico__volver" href="../index.html">
                    <i class="fas fa-arrow-left"></i>Volver
                </a>
                <div class="ico">
                    <i class="fas fa-hotel ico__hotel" ></i>
                </div>
                <h1>Dulce<span>Hogar</span></h1>
                <form class="formulario" action="">
                    <input type="text" placeholder="Nombre Apellido">
                    <input type="text" placeholder="Nuevo ID">
                    <input type="text" placeholder="Nueva Contraseña">
                    <input type="text" placeholder="Correo">
                    <button >Registrar</button>
                    <p class="ir__sesion">Iniciar Sesion</p>
                </form>
            </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha512-d8F1J2kyiRowBB/8/pAWsqUl0wSEOkG5KATkVV4slfblq9VRQ6MyDZVxWl2tWd+mPhuCbpTB4M7uU/x9FlgQ9Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha512-CEiA+78TpP9KAIPzqBvxUv8hy41jyI3f2uHi7DGp/Y/Ka973qgSdybNegWFciqh6GrN2UePx2KkflnQUbUhNIA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script src="../js/jquery.js"></script>

</body>
</html>