<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c5ed81fca0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/pagina_basico.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <title>Document</title>
</head>
<body>
    <div class="pagina_pases">
        
        <div class="platino__tarjeta">
            <div class="content_basico">
                <h1>Pase Platino</h1>
                <div class="text_basico">
                    <p>
                        Este membresia tiene un costo 5000 soles y su tiempo de vida de la tarjeta es de 1 mes , podras difrutar de los siguientes beneficios :
                    </p>
                    <ul class="beneficios__basico">
                        <li><i class="fas fa-tv ico_basico"></i>Cuenta con dos TV (Sala,Dormitorio)</li>
                        <li><i class="fas fa-bed ico_basico"></i>  Cuenta con dos cuarto (cada cuarto tiene dos camas)</li>
                        <li><i class="fas fa-bath ico_basico"></i>  Cuenta con dos baños (Uno por cada cuarto) </li>
                        <li><i class="fas fa-couch ico_basico"></i>  Cuenta una sala de descanzo</li>
                    </ul>
                </div>
                <div class="botones__basico">
                    <button class="cuartoP">Cuarto</button>
                    <button class="bañoP">Baño</button>
                    <button class="SalaP">Sala</button>
                    <button class="TerrazaP">Terraza</button>
                </div>
                <div class="img__basico">
                    <img class="img__content" src="/assets/img/comprimido/pase/platino/cuartoP.jpg" alt="">
                </div>
    
                <div class="volver_comprar">
                    <a class="volver__menu" href="../index.html">Volver</a>
                    <a class="comprar_pase" href="">Comprar</a>
                </div>
    
            </div>
        </div>

        

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha512-d8F1J2kyiRowBB/8/pAWsqUl0wSEOkG5KATkVV4slfblq9VRQ6MyDZVxWl2tWd+mPhuCbpTB4M7uU/x9FlgQ9Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha512-CEiA+78TpP9KAIPzqBvxUv8hy41jyI3f2uHi7DGp/Y/Ka973qgSdybNegWFciqh6GrN2UePx2KkflnQUbUhNIA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/jquery.js"></script>

</body>
</html>